.hashtag {
  border-radius: 0.2rem;
  border: 1px solid royalblue;
  color: royalblue;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0.2rem;
  &::before {
    content: '#';
    padding-right: 0.1rem;
  }
  &:hover {
    filter: brightness(0.5);
  }
}
