.icon {
  display: inline-block;
  height: 1.3rem;
  max-width: 100%;
  position: relative;
  top: -0.15rem;
  vertical-align: middle;
}

.strong {
  height: 4rem;
  max-height: none;
  max-width: 95%;
  vertical-align: bottom;
}
