.filename {
  background-color: lavenderblush;
  border-radius: 0.2rem;
  font-family: monospace;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
}

.link {
  color: navy;
  text-decoration: underline;
}

.pre {
  background-color: whitesmoke;
  border-radius: 0.2rem;
  font-family: monospace;
  font-family: monospace;
  margin: 0;
  overflow: scroll;
  padding: 0.5rem 1rem;
}
