name: ci

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: latest
          cache: pnpm

      - name: Install dependencies
        run: pnpm i

      - name: Check formatting
        run: pnpm prettier --check src

      - name: Check types
        run: pnpm run type-check

      - name: Run build
        run: pnpm run build
        env:
          BASE_URL: http://localhost:3000
          SCRAPBOX_COLLECT_PAGE: test
          SCRAPBOX_CONNECT_SID: ${{ secrets.SCRAPBOX_CONNECT_SID }}
          SCRAPBOX_INDEX_PAGE: test
          SCRAPBOX_PROJECT: maillard-test
          SITE_NAME: maillard-test
